h1 {
    font-family: Arial;
}

body {
    font-family: Arial;
}

.fundo {
    background-image: url(/static/img/wallpaper_1.jpeg);
    background-size: 100%;
    background-attachment: fixed;
}

.hr-white{
    background-color: #fff;
    height: 1px;
    border-top: none;
}

h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.tudotitle {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.td-container {
    width: 80%;
    margin: 0 auto;
}

.todo-list {
    border-radius: .25rem;
    padding: 10px;
}

.borda {
    background-color: rgba(0, 0, 0, 0.300);
}